ion-content {
  --background: none;
  background-image: url('/assets/img/presto-background.png');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
}

.container button {
  width: 33.33%;
  background-color: #dd2d2d;
  color: white;
}
