<app-header></app-header>

<ion-content [fullscreen]="true" class="app-bg">
  <div class="container mt-4">
    <button (click)="exibirfiltroGeral()" class="btn-lg rounded ms-1">Geral</button>
    <button (click)="exibirfiltroComida()" class="btn-lg rounded ms-3">Comida</button>
    <button (click)="exibirfiltroBebida()" class="btn-lg rounded ms-3">Bebidas</button>
  </div>

  <div class="row">
    <div class="row-cols-sm-auto" *ngFor="let produto of produtos">
      <product-menu [produto]="produto"></product-menu>
    </div>
  </div>

</ion-content>

<app-footer></app-footer>