<ion-content>

  <ion-img class="m-5" src="../../../assets/img/logo-presto.png"></ion-img>

  <form>
    <ion-item class="m-2">
      <ion-input [(ngModel)]="credential.email" name="email" type="text" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>
    <ion-item class="m-2">
      <ion-input [(ngModel)]="credential.senha" name="senha" type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>
    <ion-button class="mt-3 mx-2 login-button" type="submit" expand="block" (click)="login()">Log in</ion-button>
  </form>

  <!-- <ion-button fill="outline" expand="block">Log in com Google</ion-button>
  <ion-button fill="outline" expand="block">Log in com Facebook</ion-button> -->

  <ion-button class="mt-5 options" fill="clear" size="small" expand="block" (click)="changePassword()">Esqueci minha
    senha</ion-button>
  <ion-button fill="clear options" size="small" expand="block" (click)="goToSignIn()">Cadastre-se</ion-button>
  <ion-button fill="clear options" size="small" expand="block">Log in com QR Code ou código da mesa</ion-button>

</ion-content>