<app-header></app-header>

<ion-content [fullscreen]="true" class="app-bg">
  <div class="container-fluid">
    <div class="card card body rounded m-5 bg-white border">
      <div class="p-3">
        <img [src]="produto?.imagem" class="card-img rounded" [alt]="produto?.nome" style="max-height: 100em;">
      </div>

      <div class="card-body bg-white m-1 ">

        <div class="d-flex flex-column">
          <h5 class="card-title titulo">{{produto?.nome}}</h5>
          <p>{{produto?.descricao}}</p>
        </div>

        <div class="d-flex justify-content-center">

          <button type="button" class="btn" (click)="removerProdutoDoCardapio(produto)"
            style="background-color: #dd2d2d; color: white;">
            Remover
          </button>
        </div>

      </div>

    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Pizza 01</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Pizza 02</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Pizza 03</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Pizza 04</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Pizza 05</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>