<div class="container-fluid">
  <div class="card mb-3 mt-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-4 d-flex align-items-center">
        <img [src]="produto.imagem" class="card-img ms-2" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{produto.nome}}</h5>
          <p class="card-text">{{produto.descricao}}</p>
          <p class="card-text"><small class="text-muted">R$ {{produto.valor.toFixed(2).replace('.', ',')}}</small></p>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-lg" (click)="addProdutoPedido(produto)"
              style="background-color: #dd2d2d; color: white; width: 100%;">
              Adicionar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>