<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="speakers" (click)="chamarGarcom()">
      <ion-icon name="person-outline" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Garçom</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" (click)="goToOrderDetails()">
      <ion-icon name="bag-outline" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Pedido</ion-label>
      <ion-badge>{{rerendering(pedido)}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
