<app-header></app-header>

<ion-content [fullscreen]="true" class="app-bg">
  <ion-list>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Bebida 01</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Bebida 02</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Bebida 03</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Bebida 04</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item><ion-item>
      <ion-img src="../../../../assets/icon/favicon.png"></ion-img>
      <ion-label>Bebida 05</ion-label>
      <ion-label>Descrição</ion-label>
      <ion-label>R$ 25,00</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
