ion-content {
  --background: none;
  background-image: url('/assets/img/presto-background.png');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.bg-buttons {
  width: 100%;
  background: none;
  background-image: url('/assets/img/presto-background.png');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
