<app-header></app-header>
<ion-content>

  <div class='card bg-white mx-auto rounded mt-4 mb-4' style="width: 90%;">
    <div *ngFor="let produto of produtos" class="ms-4 mt-4 mb-4">
      <div class="d-flex col-3">
        <div class="ms-1">
          <h5>Produto</h5>
          <p>{{produto.nome}}</p>
        </div>
        <div class="ms-5">
          <h5>Valor</h5>
          <p>R$ {{produto.valor}}</p>
        </div>
        <div class="ms-5">
          <h5>
            Remover
          </h5>
          <div class="mx-auto align-middle">
            <button class="btn-danger rounded" style="width: 5rem; height: 1,5rem; vertical-align: middle;"
              (click)='removeProdutoPedido(produto)'>

              <ion-icon name="trash-bin-outline" style="color: white; vertical-align: middle;"></ion-icon>

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<button (click)="returnMenuList()">Adicionar mais itens</button>

<app-footer></app-footer>